.card-container {
      display: flex;
      gap: 3vw;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2%;
}

.card-container:not(:last-child) {
      border-bottom: 1px #e0e0e0 solid;
      padding-bottom: 2%;
}

.card-content {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 8%;
}

.card-content h1 {
      font-size: 2.08vw;
      font-weight: 700;
}

.card-content small {
      font-size: 1.38vw;
      font-weight: 400;
      color: #8695a4;
}

.card-content p {
      font-size: 1.12vw;
      font-weight: 400;
}

.card-date {
      font-size: 1.25vw;
      font-weight: 400;
}

.card-list-tags,
.card-list-desc {
      display: flex;
      flex-direction: row;
      align-items: center;
}

.card-list-tags {
      justify-content: space-between;
}

.card-list-desc {
      gap: 4%;
}
